<% if @work_version.file_resources.present? %>
  <table class="table table-striped">
    <thead>
      <tr><th>Name</th><th>Size</th><th>Mime Type</th></tr>
    </thead>
    <tbody>
      <% @work_version.file_resources.each do |resource| %>
      <tr>
        <td><%= resource.file.original_filename %></td>
        <td><%= number_to_human_size resource.file.size %></td>
        <td><%= resource.file.mime_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
