<p id="notice"><%= notice %></p>

<h1>All Versions</h1>

<%= render @work.versions %>

<%= link_to 'Back', work_path(@work) %> |
<%= link_to 'New Version', work_versions_path(@work), method: :post %>
