<h1>New Work Version</h1>

<%= form_with(model: @work_version, local: true) do |form| %>
  <%= render 'form', work_version: @work_version, form: form %>
<% end %>

<%= link_to 'Back', work_versions_path %>
