<h1>Version <%= params[:id] %></h1>

<%= render partial: 'show_fields', locals: { work_version: @work_version } %>

<%= link_to 'Back', work_versions_path(@work) %> |
<%= link_to 'Edit', edit_work_version_path(@work, @work_version) %>
